@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/quill/dist/quill.base";
@import "node_modules/quill/dist/quill.snow";

@import "partials/animate";


html,body,#app { height: 100%; margin: 0; padding: 0; }
body { background-color: $gray-dark; }
.navbar-inverse {
	margin-bottom: 0px;
	.navbar-brand {
		cursor: pointer;
		color: lightblue;
	}
}
.app-inner {
	width: 100%;
	background: rgb(253,253,253);
}

.main {
	background: rgb(225,225,225);
	.container {
		height: 100%;
		box-shadow: 0 9px 0px 0px white, 
			0 -9px 0px 0px white, 
			12px 0 12px -4px rgba(200, 200, 200, 0.5), 
			-12px 0 12px -4px rgba(200, 200, 200, 0.5)
		;
		padding-bottom: 24px;
		background: rgb(255,255,255);
	}

	.quill {
		margin-bottom: 26px;
		.quill-contents.ql-container {
			border: 1px solid rgba(200,200,200,0.5);
			height: auto;
			.ql-editor {
				min-height: 330px;
			}
		}
	}
}

.dropzone {
	width: 100%;
	min-height: 100px;
	font-weight: 600;
	background: rgb(245,247,255);
	border: 2px solid rgb(100,110,155);
	border-radius: 12px;
	text-align: center;
	line-height: 24px;
	font-size: 16px;
	padding: 16px;
	color: rgb(100,110,155);
	* {
		cursor: pointer;
	}
	&.active {
		background: rgba(200,255,200,0.8);
		border: 2px solid rgb(100,155,100);
	}
}

footer {
    width: 100%;
    padding: 16px;
    vertical-align: middle;
    background-color: $gray-darker;
    color: #fff;
}